@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;700&family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: lightgrey; }

h3 {
  color: black;
  font-size: xx-large;
  font-weight: 300; }

.bordes {
  border-top: solid 5px lightgray;
  border-bottom: solid 5px lightgray; }

.parrafo {
  padding: 20px;
  background-color: #897f6a;
  font-weight: bold; }

.titulosP {
  width: 300px;
  height: 40px;
  display: flex; }

.footer {
  padding: 10px; }

.menu {
  display: flex;
  justify-content: flex-end; }

.botonAni {
  margin-left: 50px;
  margin-right: 50px; }
  .botonAni:hover {
    background-image: linear-gradient(to left, #897f6a, lightgrey); }

.iconos_inicio, .botonAni, .posicionUbicacion {
  display: flex;
  justify-content: center; }

.bi-instagram {
  color: #8f348f;
  border: #8f348f; }

.bi-youtube {
  color: red;
  border: red; }

.bi-google {
  color: #C25E30;
  border: #C25E30; }

.bi-facebook {
  color: #3A5795;
  border: #3A5795; }

.posicionUbicacion {
  background-color: #897f6a;
  padding-top: 15px;
  padding-bottom: 15px; }

.bi {
  width: 20px;
  height: 20px;
  margin: 5px; }

@media (max-width: 480px) {
  .bi {
    width: 20px;
    height: 20px;
    margin: 5px; } }

.logocolor {
  padding: 100px;
  display: flex;
  animation-name: mueve;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-delay: 0s; }

@keyframes mueve {
  from {
    transform: translateY(-500px); }
  to {
    transform: translateY(0); } }

.mov {
  animation-name: mov;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-delay: 0s; }

@keyframes mov {
  from {
    transform: translateX(-2000px); }
  to {
    transform: translateX(0); } }
