@import "variables";
//  Textos <-<-<-<-<-<-Q(-_-Q)
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: lightgrey;
}
h3{
    color: black;
    font-size: xx-large;
    font-weight: 300;
}
.bordes{
    border-top: solid 5px lightgray;
    border-bottom: solid 5px lightgray;
}
.parrafo{
    padding: 20px;
    background-color: $rde;
    font-weight: bold;
  
}
.titulosP{
    width: 300px;
    height: 40px;
    display: flex;
}
