// Footer <-<-<-<-<-<-Q(-_-Q)
.footer {
   padding: 30px;
}

.bi {
    width: 30px;
    height: 30px;
  }
// Header <-<-<-<-<-<-Q(-_-Q)
.menu{
    display: flex;
    justify-content: flex-end;
}
// Accesos <-<-<-<-<-<-Q(-_-Q)
.botonAni{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
        &:hover{
        background-image: linear-gradient(to left, rgb(137, 127, 106), lightgrey);
    }
}
.iconos_inicio {
    display: flex;
    justify-content: center;
}