@import "variables";
// Footer <-<-<-<-<-<-Q(-_-Q)
.footer{
    padding: 10px;
 }

// Header <-<-<-<-<-<-Q(-_-Q)
.menu{
    display: flex;
    justify-content: flex-end;
}
// Accesos <-<-<-<-<-<-Q(-_-Q)
.botonAni{
    @extend .iconos_inicio;
    margin-left: 50px;
    margin-right: 50px;
        &:hover{
        background-image: linear-gradient(to left,$rde, lightgrey);
    }
}
.iconos_inicio {
    display: flex;
    justify-content: center;
}
$colores:(
    instagram: rgb(143, 52, 143),
    youtube: red,
    google: #C25E30,
    facebook: #3A5795,
);
@each $plataforma, $color in $colores{
    .bi-#{$plataforma} {
        color: $color;
        border: $color;
    }
} 