@import "reset";
@import "texto";
@import "vinculados";
@import "variables";

// Generales <-<-<-<-<-<-Q(-_-Q)

.posicionUbicacion {
    @extend .iconos_inicio;
    background-color: $rde; 
    padding-top: 15px;
    padding-bottom: 15px;
}
.bi {
    @include sizes;  
}  

// Media Q <-<-<-<-<-<-Q(-_-Q)
  @media (max-width: 480px) {
    .bi {
        @include sizes;    
        margin: 5px;    
    }
  }

// Animaciones Q <-<-<-<-<-<-Q(-_-Q)
.logocolor{
    padding: 100px;
    display: flex;
    animation-name: mueve;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-delay: 0s;
}
@keyframes mueve {
    from {
        transform: translateY(-500px)}
    to{
        transform: translateY(0);} 
}
.mov{
    animation-name: mov;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-delay: 0s;
}
@keyframes mov {
    from {
        transform: translateX(-2000px)}
    to{
        transform: translateX(0);}  
}
@mixin sizes{
    width: 20px;
    height: 20px;  
}
